spring:
  jpa:
    hibernate:
    properties:
      hibernate:
        ddl-auto: update
        format_sql: true
    show-sql: true

  datasource:
    url: jdbc:postgresql://localhost:5433/ecommerce
    username: postgres
    password: postgres

  security:
    user:
      name: admin
      password: admin123

  redis:
    host: localhost
    port: 6379

  cache:
    type: redis

  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true

server:
  port: 8080

app:
  jwt:
    secret: very-very-long-secret-string-with-at-least-32-bytes-123456
    expiration-ms: 900000  # 15 minutes

logging:
  level:
    org.hibernate.SQL: DEBUG