<div th:fragment="navbar" xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/index}">🛒 MeinShop</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNav" aria-controls="navbarNav"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" th:href="@{/index}">Startseite</a></li>

                    <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                        <a class="nav-link" th:href="@{/admin}">Adminbereich</a>
                    </li>

                    <li class="nav-item" sec:authorize="isAnonymous()">
                        <a class="nav-link" th:href="@{/login}">Anmeldung</a>
                    </li>

                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <form th:action="@{/logout}" method="post" style="display:inline;">
                            <button type="submit" class="btn btn-link nav-link text-danger"
                                    style="text-decoration:none;">Abmelden</button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
